@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to right, #400913,#26030A);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #160206a4;
}
h1{
    color: #59121F;
    text-align: center;
    text-shadow: 1px 1px 2px #3b0c15be;
}
h2{
    color: #26030A;
}