@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@font-face {
    font-family:'android';
    src: url('../fontes/idroid.otf') format('opentype');
    /*
    font-weight: normal;
    font-style: normal;
    */
}

/*========================================CSS=================================================================================*/


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
}
/* =============CABEÇALHO=============*/
#cabecalho{
    text-shadow: 1px 2px 3px rgb(0 0 0 / 37%);
    color: white;
    margin: 0;
    
    background-image: linear-gradient(to top, #1A5C38 80%,#39CE7B );
     background-attachment: fixed;

}
#cabecalho>h1{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 25px;
    font-size: 30px;
    padding-top: 35px;
}
#cabecalho>p{
    max-width: 400px;
    margin: auto;
}
#cabecalho>nav{
    text-align: left;
    padding-bottom: 10px; 
}
#cabecalho>nav>a{
    text-decoration: none;
    color: white;
    margin-left: 8px;
}
a:hover{
    background-color: #39CE7B;
    padding: 11px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.288);
}

/*=============CONTEUDO=============*/
main{
background-color: #84E1AD;
}
#conteudo{
max-width: 600px;
margin: auto;
background-color: white;
border-radius: 0px 0px 5px 5px;
box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.418);
}
article{

}
article>h1{
    margin: auto;
    text-align: left;
    text-indent: 15px;
    font-family: 'android';
    color: #207044;
    padding-bottom: 10px;
    padding-top: 10px;
}
article>h2{
    margin: auto;
    text-align: left;
    text-indent: 8px;
    font-family: 'android';
    color: #207044;
    font-size: 18px;
    max-width: 570px;
    max-height: 580px;
    background-image: linear-gradient(to left, white 40%,#39ce7c67 );
}
article>p{
    text-align: justify;
    max-width: 550px;
    margin: auto;
    text-indent: 15px;
}
.embed{
    background-color: #207044;
    position: relative;
    max-width: 500px;
    padding-bottom: 56.25%;
    margin: auto;
    text-align: left;
    
    
}
.embed iframe{
    position: absolute;
    width: 100%;
    height: 100%;

}

.aprendermais{
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    max-width: 560px;
    text-align: center;
    margin: auto;
}
.aprendermais>h2{
    border-radius: 10px 10px 0px 0px;
    background-color: #2fa765;
    background-image: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    max-width: 560px;
    padding: 10px;
}

footer>p{
    margin: auto;
    
}