body, div, ul, li, a{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

header{
    display: flex;
}

h2{
    margin-left: 140px;
}

ul{
    display: flex;
    width: 800px;
    align-items: center;
}

li{

}

a:hover{
    background-color: aqua;
    color:black;
}